@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  size: 100%;
  width: 750px;
  height: 450px;
  background-color: #816797;
  font-family: 'GangwonEdu_OTFBoldA';
}

.mainbox  {
  width: 750px;
  height: 450px;
  background-color: #816797;
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.smallbox {
  width: 600px;
  height: 360px;
  background-color: rgb(216, 216, 216);
  position: absolute; 
  left: 47%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.partbox  {
  width: 200px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 20%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.message1 {
  width: 180px;
  height: 26px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 20%;
  top: 13%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid  rgb(216, 216, 216);
}

.rock {
  display: flex;
  justify-content: center;
}

.message2 {
  width: 180px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 20%;
  top: 57%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid  rgb(216, 216, 216);
}

.partbox2  {
  width: 350px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 68%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'GangwonEdu_OTFBoldA';
}

.minibox1 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 10%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox2 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 25%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox3 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 40%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox4 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 55%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox5 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 70%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox6 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 70%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox1:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox2:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox3:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox4:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox5:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox6:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}