@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'GangwonEdu_OTFBoldA';
  size: 100%;
  width: 750px;
  height: 450px;
  background-color: #816797;
}

.searchBox {
  position: absolute;
  left: 38%;
  top: 13%;
  margin: auto;
  padding: 5px;
  }
  
.mainbox  {
  width: 750px;
  height: 450px;
  background-color: #816797;
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.smallbox {
  width: 600px;
  height: 360px;
  background-color: rgb(216, 216, 216);
  position: absolute; 
  left: 47%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.partbox  {
  width: 580px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
  overflow-y: scroll;
}

a {
  font-family: 'GangwonEdu_OTFBoldA';
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
}

.minibox1 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 10%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox2 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 25%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox3 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 40%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox4 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 55%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox5 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 70%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox6 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 70%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox1:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox2:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox3:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox4:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox5:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox6:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.guestbox {
  padding: 20px;
  text-align: center;
}

table {
  margin: auto;
  text-align: center;
  color:black;
  border-collapse: collapse;
}

th, td{
  padding: 10px;
  text-align: center;
}

.td1  {
  padding-left: 30px;
  padding-right: 30px;
}

.td2  {
  padding-left: 50px;
  padding-right: 50px;
}

.td3  {
  padding-left: 40px;
  padding-right: 40px;
}

.td4  {
  padding-left: 40px;
  padding-right: 40px;
}