@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'GangwonEdu_OTFBoldA';
  size: 100%;
  width: 750px;
  height: 450px;
  background-color: #816797;
}

.searchBox {
  position: absolute;
  left: 38%;
  top: 13%;
  margin: auto;
  padding: 5px;
  }

  input {
    width: 150px;
    height: 24px;
    font-size: 15px;
    font-family: 'GangwonEdu_OTFBoldA';
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(216, 216, 216);
  }
  
  #searching {
    font-family: 'GangwonEdu_OTFBoldA';
    color: #816797;
    background-color:  rgb(216, 216, 216);
    border-radius: 30%;
    width: 36px;
    height: 28px;
    border: none;
  }

  button {
    font-family: 'GangwonEdu_OTFBoldA';
    color: #816797;
    background-color:  rgb(216, 216, 216);
    border-radius: 30%;
    width:auto;
    height: 28px;
    border: none;
  }
  
  .searchBox > label {
    font-weight: bold;
    color: rgb(216, 216, 216);
  }
  
.mainbox  {
  width: 750px;
  height: 450px;
  background-color: #816797;
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.smallbox {
  width: 600px;
  height: 360px;
  background-color: rgb(216, 216, 216);
  position: absolute; 
  left: 47%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.partbox  {
  width: 580px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
  overflow-y: scroll;
}

a {
  font-family: 'GangwonEdu_OTFBoldA';
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: whitesmoke;
}

.minibox1 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 10%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox2 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 25%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox3 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 40%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox4 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 55%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox5 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 70%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox6 {
  width: 70px;
  height: 30px;
  background-color: #816797;
  position: absolute; 
  left: 106.5%; 
  top: 85%; 
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(216, 216, 216);
}

.minibox1:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox2:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox3:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox4:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox5:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.minibox6:hover {
  background-color: rgb(216, 216, 216);
  width: 70px;
  height: 30px;
  border-radius: 10px;
}

.music {
  text-align: center;
  padding: 20px;
  font-family: 'GangwonEdu_OTFBoldA';
}

.btn1, .btn2 {
  font-family: 'GangwonEdu_OTFBoldA';
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}

.progress-bar::-webkit-progress-value {
  background-color: #816797;
  border-radius: 5px;
}

.progress-bar2 {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar2::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}

.progress-bar2::-webkit-progress-value {
  background-color: #816797;
  border-radius: 5px;
}